/* General Body Styling */
body {
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
}

/* Main container to wrap everything */
.container {
    display: flex;
    height: 100vh; /* Full height */
}

/* Sidebar Styling */
.sideBar {
    width: 12.3vw;
    background-color: #131417;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sideLogo {
    margin-bottom: -20%;
    margin-left: 20%;
    height: 50%;
    width: 70%;
}

.sideLogoDiv {
    margin-top: 1vh;
}

.sideBarText {
    font-family: sans-serif;
    letter-spacing: 0.7px;
    font-size: 24px;
    color: white;
    margin-top: 25%;
    text-align: center;
}

.sideLinks {
    margin-top: 30%;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.sideListLinks {
    list-style-type: none;
    margin-bottom: 10px;
}

a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: underline;
    transition: color 0.1s ease-in-out;
}

a:hover {
    color: rgba(255, 255, 255, 1.0);
}

/* Main Content Styling */
.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Upper Bar */
.upperBar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
    padding: 0 20px;
    background-image: url(top_background.png);
}

.mainLogo {
    height: 69%;
    width: 45%;
}

.loginBar {
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: #131417;
}

.loginInnerDiv {
    margin-left: auto;
}

.loginButton, .signupButton {
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: underline;
    margin-left: 10px;
}

/* Body Text Styling */
.bodyTextContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px; /* Add space below the top bar */
    width: 100%;
}

.bodyText {
    width: 80%;  /* Set width of the body text area */
    font-size: 30px;
    line-height: 1.5;
    padding: 20px;
    background-color: white;
}
